/*navigation*/
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

/*Home Section*/
#home{
    height: 370px;
}

#home ::before{
    height: 400px;
    padding: 3px 68px;
}

#home p{
    font-size: 13px;
}

/*services section*/
#services{
    flex-direction: column;

}

#services .box{
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 20px;


}

/*clients section*/
#cleints{
    flex-wrap: wrap;
}

#clients img{
    width: 66px;
    padding: 6px;
    height: auto;
}
/*contact section*/
#contact-box form{
    width: 80%;
}

/* Footer*/
/*Utility class*/
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}